#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* background-color: gray; */
}

.logo {
  height: 10em;
  padding: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.center-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.read-the-docs {
  color: #888;
}

.landing-page {
  backdrop-filter: blur(10px);
  height: 100vh;
}

.navbar {
  margin-bottom: 50px;
  height: 50px;
  font-size: larger;
}

.homeName {
  float : left
}

.cart {
  float : right
}

.confirm-order-page {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}


